.cart {
  background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
  border-radius: 10px;
  width: 1096px;
  min-height: 126px;
  margin: 0 auto 30px auto;
  padding: 20px;
  .tovar {
    display: flex;
    align-items: center;
  }
  .cartImage {
    width: 117px;
    height: 86px;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    > img {
      object-fit: cover;
      height: 100%;
      width: auto;
    }
  }
  .descr {
    margin-left: 39px;
  }
  .descr > h2 {
    font-size: 18px;
    padding: 0;
  }
  .descr > p {
    font-size: 12px;
    font-weight: 300;
    color: #a6a7ab;
    width: 265px;
    padding: 0;
  }
  .quantity {
    display: flex;
    align-items: center;
    margin-left: 230px;
    > .plus {
      cursor: pointer;
      width: 1.4em;
      height: 1.4em;
      &:hover {
        background-color: #fff;
        border-radius: 20px;
      }
    }
    > p {
      margin: 0 12px;
      font-size: 20px;
      font-weight: 500;
    }
  }
  .summ {
    margin-left: 130px;
    display: flex;
    align-items: center;
    > p {
      font-size: 20px;
      font-weight: 500;
    }
  }
  .close {
    width: 1.4em;
    height: 1.4em;

    cursor: pointer;
    margin-left: 80px;
    &:hover {
      background-color: #fff;
      border-radius: 20px;
    }
  }
}
