@import '../../styles/variables';

.main {
  margin: auto;
  max-width: 1440px;
  height: auto;
}

.bottom_bannerdiv {
  width: 1363px;
  height: 610px;
  background: linear-gradient(90deg, #211f20 0%, rgba(68, 64, 63, 0) 100%);
}
