@import '../../../../../styles/variables';

.listcart {
  margin: auto;
  max-width: 1440px;
  height: auto;

  > div {
    margin: 50px 0 50px 115px;
    display: flex;
    align-items: center;
  }

  > div > h1 {
    font-size: 32px;
    font-weight: 700;
    margin-left: 19px;
    text-transform: uppercase;
  }

  > div > .line {
    width: 33px;
    height: 4px;
    background: #618967;
    transform: rotate(90deg);
  }
}

//Удалил базовый начальный отступ слева, который мне мешал
ul {
  padding: 0;
}

.carts {
  margin: 0 10px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  list-style-type: none;
  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1065px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 730px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
