@import '../../styles/variables';

.header {
  background-color: #403c3b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: auto;
  @media (max-width: 700px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 20px;
    height: auto;
    padding: 10px 0;
    > a,
    div,
    button {
      margin: 0;
    }
  }
  @media (max-width: 450px) {
    display: flex;
  }

  > .hamburger {
    margin-left: 20px;
    display: none;
    &:hover {
      cursor: pointer;
    }
    @media (max-width: 450px) {
      display: block;
    }
    > .menu {
      margin: 0;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 0.05em;
    }
    > .line {
      width: 24px;
      height: 3px;
      background-color: #72a479;
      display: block;
      margin: 6px auto;
      transition: all 0.3s ease-in-out;
    }
    > .active {
      &:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
    > .mnutop {
      display: none;
      &.active {
        font-size: 14px;
        font-weight: 300;
        display: block;
        width: auto;
        height: auto;
        background: $greens;
        border-radius: 5px;
        position: absolute;
        z-index: 100;
        margin-top: 4px;
        margin-left: 1px;
        > p {
          margin: 10px 10px;
        }
      }
    }
  }
  /* > .longmenu {
    display: none;
    @media (max-width: 700px) {
      display: block;
    }
  } */

  > a > .logo {
    width: 100px;
    filter: brightness(0) invert(1);
    margin-left: 100px;
    @media (max-width: 960px) {
      margin-left: 20px;
    }
    @media (max-width: 450px) {
      width: 70px;
    }
  }

  > h1 {
    font-family: $default-font;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.15em;
  }

  > div > .location {
    position: relative;
    left: 36px;
    top: 7px;
  }

  > div > input {
    background: #504b4a;

    border-radius: 10px;
    max-width: 555px;
    height: 52px;
    padding: 0 50px 0 15px;
    font-style: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #cfcfcf;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    transition: all 0.05s ease-in-out;

    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.3);
    }

    &::placeholder {
      color: #cfcfcf;
      font-size: 18px;
      font-weight: 200;
    }
  }

  > div > .search {
    position: relative;
    right: 38px;
    top: 6px;
  }

  > .calling {
    display: flex;
    align-items: center;
    margin-right: 50px;
    width: 200px;
    @media (max-width: 960px) {
      margin-right: 0;
    }
    @media (max-width: 450px) {
      display: none;
    }

    > div > .icon {
      margin-right: 18px;
    }
    > div {
      display: flex;
      flex-direction: column;
    }
    > div > p {
      padding: 0;
      font-size: 12px;
      font-weight: 200;
      color: #cfcfcf;
      margin: 5px 0;
    }
    > div > a {
      padding: 0;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
      color: #fff;
    }
  }

  a {
    text-decoration: none;
  }

  > .login {
    background: $greens;
    border: none;
    font-size: 14px;
    width: 120px;
    height: 52px;
    font-weight: 600;
    display: flex;
    padding: 18px 24px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.12s ease-in-out;
    @media (max-width: 450px) {
      display: none;
    }
  }
  > .login:hover {
    box-shadow: 0px 5px 12px rgba(114, 164, 121, 0.3);
  }

  > .link > button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    width: 160px;
    height: 52px;
    //padding: 0 15px;
    border-radius: 10px;
    background: $greens;
    border: none;
    color: #fff;
    margin-right: 100px;
    cursor: pointer;
    transition: all 0.12s ease-in-out;
    > .basket {
      margin-left: 5px;
    }
    > p {
      font-size: 16px; 
    }
    > .rubles {
      margin-left: 2px;
      margin-right: 5px;
    }
    
    @media (max-width: 960px) {
      margin-right: 20px;
    }
    
    > .line {
      width: 38px;
      height: 0px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      transform: rotate(90deg);
      color: #fff;
     
    }
    &:hover {
      box-shadow: 0px 5px 12px rgba(114, 164, 121, 0.3);
    }
  }
}
